body{
margin:0;
font-family:Arial;
background:#f2fbff;
}

header{
background:linear-gradient(90deg,#00b4db,#0083b0);
padding:20px;
color:white;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:url('../images/beach1.jpg');
background-size:cover;
color:white;
text-align:center;
padding:120px 20px;
font-size:30px;
}

.about{
text-align:center;
padding:40px;
}

.highlights{
background:#e6f7ff;
padding:40px;
}

.cards{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.card{
background:white;
width:250px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
overflow:hidden;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
}

.card h3{
padding:10px;
}

.card p{
padding:10px;
}

.activities{
background:#00b4db;
color:white;
text-align:center;
padding:40px;
}

.activities ul{
list-style:none;
font-size:20px;
}

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
padding:40px;
}

.gallery img{
width:100%;
border-radius:10px;
}

.title{
text-align:center;
margin:30px;
}

.culture{
text-align:center;
padding:40px;
}

.culture img{
width:400px;
border-radius:15px;
}

.contact{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

.contact input,
.contact textarea{
padding:10px;
}

.contact button{
background:#00b4db;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

footer{
background:#0083b0;
color:white;
text-align:center;
padding:15px;
}
